body{
    font-family: 'Roboto', sans-serif;
    font-size: 16;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.125;
    color: #434455;
    background-color: #ffffff;}

ul, ol {list-style-type: none;
margin-bottom: 0;
margin-top: 0;
margin-left: 0;
padding-left: 0;}


img {
display: block;
max-width: 100%;
height: auto;}


.link {text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: inline-block; }

.link:hover,
.link:focus {color:#404BBF}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;}

    button{cursor: pointer;}

    button:hover,
    button:focus{ background-color: #404BBF;}


/* HEADER=============== */



.page-header{
    border-bottom: 1px solid #e7e9fc;}

.container{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;}

.page-nav{
    display: flex;
    align-items: center;
    margin-right: auto;}

.header-div{ 
    display: flex;
    align-items: center;
    padding: 0 15px;}

.addres-list{
    display: flex;
    align-items: end;
    gap: 40px}

.menu-link {
    color: #2E2F42;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;}

.mail{
    color: #434455;
   
    padding: 24px 0;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
}


    .logo{
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17; /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
        }

        .logo span {
            color:  #4d5ae5;
        }

    .web{ color:#4d5ae5;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17; /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;}

    .logo-stud {color: #2e2f42;}

        .nav{
            display: flex;
            gap: 40px;
            }

/* MAIN PAGE--======================= */

        .main-page{
        background-color: #2e2f42;
        padding: 188px 0;}

        

        .solution{color: #ffffff;
            text-align: center;           
            font-size: 56px;
            font-weight: 700;
            line-height: 1.07; /* 107.143% */
            letter-spacing: 0.02em;
            max-width: 496px;}

            .effective-solution {
                width: 496px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 48px;
                }

        

        .text-button{color:  #FFfffF; 
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.04em;}

        .link-button{
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        background:  #4D5AE5;
        min-width: 169px; 
        border: none;
        text-align: center;
        padding: 16px 32px;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


    .benefits-item{
        display: flex;
        gap: 24px;
        justify-content: center; }

        .text-title { 
            color:  #2E2F42;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2; /* 120% */
            letter-spacing: 0.02em;
            margin-bottom: 8px;}

        .list-beneff 
        {width: calc((100% - 72px) / 4);}


        .text-benefits{color: #434455;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.02em;}


        .team-list{
            display: flex;
            gap: 24px;}

        .team {
            background-color: #F4F4FD;
            padding: 120px 0;}

        .fotocards{    
            box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
            border-radius: 0px 0px 4px 4px;
            background-color: #ffff;
            width: calc((100% - 72px) / 4);}

        .text-team{color: #2E2F42;
            text-align: center;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11; /* 111.111% */
            letter-spacing: 0.02em;
            margin-bottom: 72px;
            text-transform: capitalize;}



        .name-workers{color: #2E2F42;
            
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2; /* 120% */
            letter-spacing: 0.02em;
            text-align: center;
            margin-bottom: 8px}

        .list-workers-div{padding: 32px 0;}

        .position-text{color: #434455;
            
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.02em;
            text-align: center;}

        .text-portfolio{color:  #2E2F42;
            text-align: center;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11; /* 111.111% */
            letter-spacing: 0.02em;
            text-transform: capitalize;
            margin-bottom: 72px;}

        .portfolio-list{
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            row-gap: 48px;}

        .portfol-foto-div{
            padding: 32px 16px;
            border: 1px solid #e7e9fc;
            border-top: none;
            background-color: #fff;}

        .portfolio-foto {
            background-color: #fff;
            width: calc((100% - 48px) / 3);}

        .app-main{
            margin-bottom: 8px;
            color:  #2E2F42;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2; /* 120% */
            letter-spacing: 0.02em;}


        .app-text{color: #434455;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.02em;}

        

        .text-footer {color: #F4F4FD;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.02em;
            width: 264px;}

        .footer{
            background-color: #2e2f42;
            padding: 100px 0;}

        .studio{color: #f4f4fd}

       
    .logo-footer{
        color: var(--CLOUD, #F4F4FD);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17; /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 16px;
        display: inline-block;}

        .logo-footer span {
            color:  #4d5ae5;
        }


        .benefits {padding-top: 120px;
            padding-bottom: 120px;
            background-color: #fff;}

        


        .portfolio {background-color: #ffffff;
            padding-top: 120px;
            padding-bottom: 120px;}